[submodule "GeneAnnotation"]
	path = GeneAnnotation
	url = https://github.com/vladsaveliev/GeneAnnotation
[submodule "Utils"]
	path = Utils
	url = https://github.com/vladsaveliev/Utils.git
[submodule "MultiQC"]
	path = MultiQC
	url = https://github.com/vladsaveliev/MultiQC.git
