setuptools>=18.5
pip
numpy
pandas
pybedtools
joblib
jsontemplate
ipython>=4.0.0,<5.0.0
ipyparallel
ipython-cluster-helper
PyMonad
gffutils
nose
coverage
pysam
matplotlib   # for multiqc
click        # for multiqc
jinja2       # for multiqc
simplejson   # for multiqc