pip
setuptools>=18.5
cython
numpy
pandas
pyyaml
simplejson
joblib
ipython>=4.0.0,<5.0.0
ipyparallel
ipython-cluster-helper
pysam
pytabix
pybedtools
gffutils
jinja2
beautifulsoup4
lxml
xlsxwriter>=0.5.5
nose